@charset "UTF-8";

body {
    font: 18px/1.5 Helvetica, Arial, sans-serif;
    line-height: 1.3;
    min-height: 100vh;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.content {
    min-height: calc(100vh - 4em);
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 350px;
    width: 90%;
}

header {
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    height: 0.4em;
}

#scroller {
    height: 0.4em;
    width: 0%;
    position: absolute;
    left: 0;
}

footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 350px;
    width: 90%;
    font-size: xx-small;
    text-align: right;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #AAAAAA;
}

footer a {
    color: #AAAAAA;
    font-weight: 700;
}

h1,
h2,
h3 {
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
}

h1 {
    padding-top: 2em;
}

h3 {
    font-weight: 500;
    font-size: medium;
    display: inline-block;
    padding-top: 1em;
}

p {
    padding-top: 1em;
}

small {
    font-size: 85%;
}

a {
    text-decoration: none;
}

.hbar {
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid;
    border-bottom-width: 2px;
    padding-top: 0.25em;
}

.section {
    font-size: smaller;
}

/* Start Profile */
.headshot {
    padding-top: 1.25em;
    padding-right: 1em;
    padding-bottom: 0em;
    width: 36%;
    max-width: 235px;
    float: left;
}

/* End Profile */

/* Start News and Pubs */
.paper {
    padding-top: 1em;
}

.paper-flex {
    display: flex;
}

#news {
    padding-top: 0.5em;
}

.news-item {
    font-size: smaller;
    display: flex;
    padding-top: 0.5em;
}

.paper-conference, .news-left {
    float: left;
    width: 10%;
    text-decoration: none;
}

.paper-conference {
    align-items: center;
}

.news-right {
    float: center;
    padding-left: 20px;
    width: calc(90% - 20px);
}

.paper-details {
    float: center;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(90% - (75px + 20px + 20px));
}

.paper-title, .paper-authors, .paper-conference {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3;
    max-height: 1.3;
}

.paper-icons {
    float: right;
    width: 75px;
    align-items: center;
    display: flex;
}

.paper-icon, .paper-icon-dark {
    width: 20px;
    padding-left: 5px;
}

.paper-title {
    font-style: italic;
}

/* End News and Pubs */

/* Start Mentoring */
.student {
    float: left;
    width: calc(50% - 1em);
    padding-top: 1em;
    padding-right: 1em;
}

.student-result, .student-project {
    font-size: smaller;
}
/* End Mentoring */

/* Extra stuff for both pubs and students */
.paper-flex:before,
.paper-flex:after,
#students:before,
#students:after {
  content: "";
  display: block;
  width: 0;
}
#students:after, .paper-flex:after {
  clear: both;
}

/* Special Stuff For Small Screens */
@media screen and (max-width: 600px) {
    .student {
        display: list-item;
        list-style-type: circle;
        margin-left: 1em;
        width: calc(100% - 1em);
    }

    .paper {
        display: list-item;
        list-style-type: circle;
        margin-left: 1em;
        width: calc(100% - 1em);
    }

    .paper-icon, .paper-icon-dark {
        display: None;
    }
    
    .paper-flex {
        flex-flow: wrap;
    }

    .paper-conference {
        float: none;
        width: fit-content;
        padding-right: 0.5em;
        font-size: smaller;
    }

    .paper-details {
        float: none;
        width: 100%;
        padding: 0px;
    }

    .paper-icons {
        font-size: smaller;
        float: none;
        width: fit-content;
        display: unset;
    }

    .paper-conference { order: 1; }
    .paper-icons { order: 2;  }
    .paper-details { order: 3; }
    
    a:after {
        content: attr(alt);
    }
}

/* Set colours for light and dark mode */

@media (prefers-color-scheme: light) {
    header {
        background-color: accent-color-placeholder;
    }

    #scroller {
        background-color: link-hover-color-placeholder;
    }

    body {
        background-color: background-color-placeholder;
        color: font-color-placeholder;
    }

    .paper-icon-dark {
        display: None;
    }

    h1,
    h2,
    h3 {
        color: header-color-placeholder;
    }

    a {
        color: accent-color-placeholder;
    }
    
    a:hover {
        color: link-hover-color-placeholder;
    }
    
    .hbar {
        color: divider-color-placeholder;
    }

    h3 {
        border-bottom: 1px divider-color-placeholder dashed;
    }
    
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    header {
        background-color: accent-color-dark-placeholder;
    }

    #scroller {
        background-color: link-hover-color-dark-placeholder;
    }

    body {
        background-color: background-color-dark-placeholder;
        color: font-color-dark-placeholder;
    }

    h1,
    h2,
    h3 {
        color: header-color-dark-placeholder;
    }

    a {
        color: accent-color-dark-placeholder;
    }
    
    a:hover {
        color: link-hover-color-dark-placeholder;
    }
    
    .hbar {
        color: divider-color-dark-placeholder;
        border-bottom-width: 1px;
    }

    h3 {
        border-bottom: 1px divider-color-dark-placeholder dashed;
    }

    .paper-icon {
        display: None;
    }
}